[submodule "vcpkg-ports-mxl"]
	path = vcpkg-ports-mxl
	url = https://github.com/x-software-com/vcpkg-ports-mxl.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/x-software-com/mxl-scripts.git
